.about {
    margin-bottom: 170px;
}

.about__inner {
    padding: 137px 85px;
    max-width: 1280px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    margin-top: 45px;
    border-radius: 10px;
    background-image: url(../../images/image-second/png/Bitmap-1.jpg);
}

.about__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.about__text {
    width: 445px;
    margin: 0;
    color: #FEFCF7;
}

// // @media
// // only screen and (-webkit-min-device-pixel-ratio: 2),
// // only screen and (   min--moz-device-pixel-ratio: 2),
// // only screen and (     -o-min-device-pixel-ratio: 2/1),
// // only screen and (        min-device-pixel-ratio: 2),
// // only screen and (                min-resolution: 192dpi),
// // only screen and (                min-resolution: 2dppx) { 
// //     .about__inner {
// //         background-image: url(../../images/image-second/png/Bitmap-1@2x.png);
// //     }
    
// } 


@media only screen and (max-width:768px) {
    .about {
        margin-bottom: 144px;
    }

    .about__inner {
        max-width: 690px;
        width: 100%;
        max-height: 400px;
        height: 100%;
        margin-top: 58px;
        border-radius: 10px;
        background-image: url(../../images/image-tablet/Bitmap.jpg);
    }

    .about__heading {
        max-width: 150px;
        width: 100%;
        font-size: 32px;
        line-height: 40px;
        font-weight: 900;
        font-style: normal;
    }

    .about__text {
        max-width: 398px;
        width: 100%;
        text-align: left;
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        font-style: normal;
    }
}

@media only screen and (max-width:425px) {
    .about {
        margin-bottom: 120px;
    }

    .about__inner {
        max-width: 327px;
        height: 100%;
        max-height: 400px;
        height: 100%;
        margin-top: 41px;
        margin: 0 auto;
        border-radius: 10px;
        background-image: url(../../images/image-mobile/Bitmap-about.png);
    }

    .about__heading {
        max-width: 279px;
        width: 100%;
        margin-top: -60px;
        font-size: 28px;
        line-height: 28px;
        font-weight: 900;
        font-style: normal;
        text-align: center;
    }

    .about__text {
        max-width: 279px;
        width: 100%;
        margin-bottom: 87px;
        font-size: 15px;
        line-height: 25px;
        font-weight: 400;
        font-style: normal;
    }
}