.about {
    margin-bottom: 170px;
}

.about__inner {
    padding: 137px 85px;
    width: 1280px;
    height: 450px;
    margin-top: 45px;
    border-radius: 10px;
    background-image: url(../../images/image-second/png/Bitmap-1.jpg);
}

.about__heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.about__text {
    width: 445px;
    margin: 0;
    color: #FEFCF7;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .about__inner {
        background-image: url(../../images/image-second/png/Bitmap-1@2x.png);
    }
    
    /* Retina-specific stuff here */
} 
