.countries .container{
    margin-bottom: 170px;
}

.countries__heading {
    margin: 0;
    margin-bottom: 72px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.countries__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.country::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 45px;
    background-image: url(../../images/image-second/svg/UK.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 center;
}

.country:nth-child(2)::before{
    background-image: url(../../images/image-second/svg/Canada.svg);
}

.country:nth-child(3)::before{
    background-image: url(../../images/image-second/svg/Australia.svg);
}

.country__name {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
}

.country__sublist__item a{
    display: block;
    text-decoration: none;
    color: #333D4B;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .country::before {
        background-image: url(../../images/image-second/svg/UK@2x.png);
    }

    .country:nth-child(2)::before{
        background-image: url(../../images/image-second/svg/Canada@2x.png);
    }
    
    .country:nth-child(3)::before{
        background-image: url(../../images/image-second/svg/Australia@2x.png);
    }
    
    /* Retina-specific stuff here */
} 
