.footer .container {
    margin-bottom: 88px;
}

.footer__inner {
    display: flex;
    align-items: center;
    padding: 47px 85px;
    background-color: #2C343E;
}

.footer .logo-link {
    margin-right: 100px;
}

.footer .nav {
    margin-right: auto;
}

.footer .nav__item {
    display: block;
}

.footer .nav__link {
    display: block;
}

.footer .nav__link--active {
    color: #FEFCF7;
}
 
.footer .nav__link:hover {
    color: #FEFCF7;
}

@media only screen and(max-width:1050px) {
    .footer__inner {
        justify-content: space-between;
    }

    .footer .logo-link {
        margin: 0;
    }

    .footer .nav {
        margin-right: 0;
    }
}

@media only screen and(max-width: 900px) {
    .footer .container {
        margin-bottom: 72px;
    }

    .footer__inner {
        flex-direction: column;
        justify-content: space-between;
        padding: 54px;
    }

    .footer .logo-link {
        margin-bottom: 32px;
    }

    .footer .nav {
        margin-bottom: 65px;
    }
}

@media only screen and(max-width: 600px) {
    .footer .container {
        margin-bottom: 72px;
    }

    .footer .nav__list {
        display: flex;
    }
}

@media only screen and(max-width: 450px) {
    .footer .logo-link {
        margin-bottom: 50px;
    }

    .footer .nav {
        margin-bottom: 50px;
    }

    .footer .nav__list {
        flex-direction: column;
    }

    .footer .nav__item {
        margin: 0 auto;
    }

    .footer .nav__link {
        display: block;
        padding: 10px 0;
    }

    .footer .nav__item {
        &:first-child .nav__link {
            padding-top: 0;
        }

        &:last-child .nav__link {
            padding-bottom: 0;
        }
    }
}