.footer__inner {
    display: flex;
    align-items: center;
    margin-top: 168px;
    padding: 47px 85px;
    background-color: #2C343E;
}

.footer .logo-link {
    margin-right: 100px;
}

.footer .nav {
    margin-right: auto;
}

.footer .nav__link--active {
    color: #FEFCF7;
}
 
.footer .nav__link:hover {
    color: #FEFCF7;
}


@media only screen and (max-width:768px) {
    .footer__inner {
        flex-direction: column; 
    }

    .logo-link__image {
        margin-left: 100px;
        margin-bottom: 34px;
    }

    .navs {
        margin: 0 auto;
        margin-bottom: 65px;
    }

    .social-list {
        margin: 0 auto;
        margin-bottom: 54px;
    }

}