.hero .container {
    margin-bottom: 260px;
}

.hero__inner {
    padding: 117px 85px;
    margin-top: 45px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-image: url(../images/image-third/hero-picture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__heading {
    width: 495px;
    margin-top: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
}

.hero__text {
    max-width: 445px;
    width: 100%;
    margin-bottom: 56px;
    line-height: 26px;
    color: #fefcf7;
    opacity: 0.8;
}

.button {
    display: inline-block;
    width: 217px;
    padding: 15px;
    font-family: "Fraunces", "Times new roman", sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FEFCF7;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #0e8784;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.button:hover {
    background-color: #66d2cf;
}

.button:disabled {
    background-color: #e2dedb;
}

@media only screen and (max-width:768px) {
    .hero__inner {
        background-image: url(../images/image-first/png/Bitmap-690px.jpg);
    }

    .hero__heading {
        max-width: 350px;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        letter-spacing: 0px;
    }

    .hero__text {
        max-width: 398px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0px;
    }
    .button {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

@media only screen and (max-width:425px) {
    .hero__inner {
        margin: 0 auto;
        padding: 100px 24px;
        max-width: 327px;
        width: 100%;
        background-image: url(../images/image-mobile/jpg-optimization/Bitmap.jpg);
        background-position: center;
        background-repeat: no-repeat;
    }

    .hero__heading {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 24px;
        padding: 0;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: center;
    }

    .hero__text {
        max-width: 280px;
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: center;
    }

    .button {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx) { 
//     .hero__inner {
//         background-image: url(../../images/image-first/png-optimization/Bitmap@2x.png);
//     }
    
//     /* Retina-specific stuff here */
// }
