.link {
    margin: 0;
    margin-left: 516px;
    margin-bottom: 168px;
    padding: 15px 30px;
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FEFCF7;
    background-color: #0E8784;
    border-radius: 6px;

    &:active {
        background-color: #66D2CF;
    }
}