.nav {
    .nav__list {
        display: flex;
        align-items: center;
    }

    .nav__item + .nav__item {
        margin-left: 33px;
    }
    
    .nav__link {
        font-size: 12px;
        line-height: 15px;
        font-weight: bold;
        letter-spacing: 0.923077px;
        text-decoration: none;
        text-transform: uppercase;
        color: #83888F;
        transition: color 0.25s ease, background-color 0.25s ease;
    }

    .nav__link:hover {
        color: darkcyan;
    }

    .nav__link--active {
        color: darkcyan;
    }

}

